@import url("../css/bootstrap.css");

@import url("../css/bootstrap.min.css");

@import url("../css/fonts.css");



/*********** #Home ***********/
/****************************/

#home {
  background-image: url("../media/backgrounds/h_img.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 50px;
}

h1 {
  margin-top: 2%;
  padding: 1%;
}

.click {
  /* margin-top: %; */
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}


/*********** #About ***********/
/*****************************/

#about {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#about > h2 {
  margin-right: auto;
  margin-left: auto;
}

#about > p {
  margin-right: auto;
  margin-left: auto;
  font-size: 26px;
  width: 90%;
}


/*********** #Services ***********/
/********************************/

#services {
  background-image: url("../media/backgrounds/s_image.jpg");
  background-size: cover;
  text-align: center;
  color: #fff;
  margin-top: 2%;
  padding: 4%;
}

#services > h2 {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}

#services > p {
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
  font-size: 25px;
}
