@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


@import url("../css/bootstrap.css");

@import url("../css/bootstrap.min.css");

@import url("../css/fonts.css");




/*********** #Home ***********/
/****************************/

*{
  font-family: 'Rancho', cursive;
}

#home {
  background-image: url("../media/backgrounds/h_img.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 50px;
}

h1 {
  margin-top: 2%;

}

#home > p {
  margin-top: 2%;
  padding: 1%;
  font-size: 20px;

}

.click {
  /* margin-top: %; */
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}


/*********** #About ***********/
/*****************************/

#about {
  margin-top: 2%;
  text-align: center;
}

#about > h2 {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}

#about > p {
  margin-right: auto;
  margin-left: auto;
  font-size: 26px;
  width: 90%;
}


/*********** #Services ***********/
/********************************/

#services {
  background-image: url("../media/backgrounds/s_image.jpg");
  background-size: cover;
  text-align: center;
  color: #fff;
  margin-top: 2%;
  padding: 4%;
}

#services > h2 {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}

#services  p {
  margin-top: 1%;
  font-size: 25px;
}


/*********** #WhatWeDo ***********/
/********************************/

.do {
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

#wdo {
  text-align: center;
}

#wdo p {
  display: none;
  cursor: pointer;
}

#wdo img:hover {
  cursor: pointer;
}

.col-md-4 img{
  padding: 50px;
}



/*********** #Portfolio ***********/
/*********************************/

.port {
  text-align: center;
  margin-top: 5%;
}

#port {
  margin-top: 3%;
}

#port img {
  cursor: pointer;
  image-orientation: center;
  position: relative;
  margin-left: 10%;
  width: 95%;
}

h5{
  display: none;
  padding: 5%;
  text-align: center;
}






/*********** #Contact ***********/
/*******************************/


.conts {
  background-image: url("../media/backgrounds/c_image.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 3%;
  text-align: center;
}


.form h3 {
  color: #fff;
}


.form input{
  color: #fff;
  padding: 1%;
  font-size: 18px;
  margin-top: 1%;
  border-radius: 0.2rem;
  text-align: left;
  width: 25%;
  background-color: transparent;
}

#name, #email {
  margin-top: 5%;
  margin-bottom: 3%;
}

#name,::placeholder {
  color: #fff;
}

#email ::placeholder {
  color: #fff;
}

#name {
  float: left;
  margin-left: 7%;
}

#email{
  font-style: italic;
  float: right;
  margin-right: 15%;
}

.form textarea {
  color: #fff;
  font-size: 20px;
  padding: 1%;
  margin-top: 5%;
  width: 50%;
  background-color: transparent;
}


#sms {
  margin-left: 3%;
  height: 200px;
  width: 80%;
  border-radius: 0.5rem;
}

.form #submit {
  background-color: transparent;
  font-size: 20px;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:2%;
  padding: 0.9%;
  border-radius: 0.2rem;
}

.form #submit:hover {
  background-color: sandybrown;
  color: black;
}



/*********** #Social ***********/
/*******************************/

#social {
  margin: auto;
  margin-top: 3%;
  width: 60%;
}
#social img{
 margin-left: auto;
 margin-right: auto;

}


/*********** #Footer ***********/
/*******************************/

footer {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}



